body {
    background: #007bff;
    background: linear-gradient(to right, #0062E6, #33AEFF);
  }
  
  .card-img-left {
    width: 45%;
    /* Link to your background image using in the property below! */
    background: scroll center ;
    background-size: cover;
  }
  .register{
    width: 100%;
    border-radius: 30px;
  }
   /* .upload-circle {
    position: relative;
    display: inline-block;
    border-radius: 50%;
    overflow: hidden;
  }*/
  .hide {
    display: none;
  }
  .upload-circle .image-preview {
    position: relative;
    overflow: hidden;
  }  
  .image-circle {
    position: relative;
    width: 125px;
    height: 125px;
    border-radius: 50%;
    overflow: hidden;
    
  }
  
  .image-circle img {
    width: 100%;
    position: relative;
    height: 100%;
    object-fit: cover;
  }
   .upload-circle .image-preview img {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
 
  .round {
    /* position: absolute;
    top: 80%;
    bottom: 0;
    right: 50;
    left:47%; */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
   
    border-radius: 50%;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
  } 
  .camera {
    font-size: 30px; /* Adjust the font-size to your desired larger size */
}
  
  .upload-circle .round:hover {
    opacity: 1;
  }
  
  .upload-circle .round input[type="file"] {
    display: none;
  }